<!--The content below is only a placeholder and can be replaced.-->

<div id="wrapper">
  <div class="header">
    <h1>EST-Rechner</h1>
  </div>
  <div class="fields">
    <div class="form-control">
      <label>
        <span class="field">Einnahmen in EUR (exkl. MwSt)</span>
        <input type="number" [(ngModel)]="income" (change)="calcSum()">
      </label>
    </div>

    <div class="form-control">
      <label>
        <span class="field">Ausgaben in EUR (exkl. MwSt)</span>
        <input type="number" [(ngModel)]="expenses" (change)="calcSum()">
      </label>
    </div>

    <div class="form-control">
      <label>
        <span class="field">Vorauszahlungen EST</span>
        <input type="number" [(ngModel)]="advance_tax" (change)="calcSum()">
      </label>
    </div>

    <div class="form-control">
      <label>
        <span class="field">Vorauszahlungen SVA</span>
        <input type="number" [(ngModel)]="advance_ins" (change)="calcSum()">
      </label>
    </div>
  </div>

  <div class="output" *ngIf="income > 0">
    <div class="row">
      <div class="label text-left one-half">
        Ertrag:
      </div>
      <div class="outcome text-right one-half">
        {{ ebitsva | currency:'EUR':'€':'1.0-3':'de-DE' }}
      </div>
    </div>

    <div class="row">
      <div class="label text-left one-half">
        SVA (gesamt):
      </div>
      <div class="outcome text-right one-half">
        {{ sva_sum | currency:'EUR':'€':'1.0-3':'de-DE' }}
      </div>
    </div>

    <div class="row">
      <div class="label text-left one-half">
        Berechnungsgrundlage EST:
      </div>
      <div class="outcome text-right one-half">
        {{ ebit | currency:'EUR':'€':'1.0-3':'de-DE' }}
      </div>
    </div>

    <div class="row">
      <div class="label text-left one-half">
        EST:
      </div>
      <div class="outcome text-right one-half">
        {{ est | currency:'EUR':'€':'1.0-3':'de-DE' }}
      </div>
    </div>


    <div class="row">
      <div class="label text-left one-half">
        Zahlungen gesamt:
      </div>
      <div class="outcome text-right one-half">
        {{ full_payments | currency:'EUR':'€':'1.0-3':'de-DE' }}
      </div>
    </div>

    <div class="row">
      <div class="label text-left one-half">
        bereits bezahlt:
      </div>
      <div class="outcome text-right one-half">
        {{ advance_pamyments | currency:'EUR':'€':'1.0-3':'de-DE' }}
      </div>
    </div>

    <div class="row">
      <div class="label text-left one-half">
        offene Zahlungen:
      </div>
      <div class="outcome text-right one-half">
        {{ open_payments | currency:'EUR':'€':'1.0-3':'de-DE' }}
      </div>
    </div>

    <div class="row">
      <div class="label text-left one-half">
        Gewinn nach Steuern:
      </div>
      <div class="outcome text-right one-half">
        {{ profit | currency:'EUR':'€':'1.0-3':'de-DE' }}
      </div>
    </div>

  </div>

</div>