<!--The content below is only a placeholder and can be replaced.-->

<div id="wrapper">
  <div class="header">
    <h1>EST-Rechner</h1>
  </div>
  <div class="fields">
    <div class="form-control">
      <label>
        <span class="field">Einnahmen in EUR (exkl. MwSt)</span>
        <input type="text" [(ngModel)]="income">
      </label>
    </div>

    <div class="form-control">
      <label>
        <span class="field">Ausgaben in EUR (exkl. MwSt)</span>
        <input type="text" [(ngModel)]="expenses">
      </label>
    </div>

    <div class="form-control">
      <label>
        <span class="field">Vorauszahlungen EST</span>
        <input type="text" [(ngModel)]="advance_tax">
      </label>
    </div>

    <div class="form-control">
      <label>
        <span class="field">Vorauszahlungen SVA</span>
        <input type="text" [(ngModel)]="advance_ins">
      </label>
    </div>
  </div>

  <div class="output">
    <div class="row">
      <div class="label text-left one-half">
        Gewinn:
      </div>
      <div class="outcome text-right one-half">
        {{ income - expenses}}
      </div>
    </div>

    <div class="row">
      <div class="label text-left one-half">
        SVA (gesamt):
      </div>
      <div class="outcome text-right one-half">
        {{ income - expenses}}
      </div>
    </div>

    <div class="row">
      <div class="label text-left one-half">
        Berechnungsgrundlage EST:
      </div>
      <div class="outcome text-right one-half">
        {{ income - expenses}}
      </div>
    </div>

    <div class="row">
      <div class="label text-left one-half">
        EST:
      </div>
      <div class="outcome text-right one-half">
        {{ income - expenses}}
      </div>
    </div>


    <div class="row">
      <div class="label text-left one-half">
        Zahlungen gesamt:
      </div>
      <div class="outcome text-right one-half">
        {{ income - expenses}}
      </div>
    </div>

    <div class="row">
      <div class="label text-left one-half">
        bereits bezahlt:
      </div>
      <div class="outcome text-right one-half">
        {{ income - expenses}}
      </div>
    </div>

    <div class="row">
      <div class="label text-left one-half">
        offene Zahlungen:
      </div>
      <div class="outcome text-right one-half">
        {{ income - expenses}}
      </div>
    </div>

    <div class="row">
      <div class="label text-left one-half">
        Gewinn nach Steuern:
      </div>
      <div class="outcome text-right one-half">
        {{ income - expenses}}
      </div>
    </div>

  </div>

</div>