#wrapper {
    width: 600px;
    max-width: 95%;
    margin: 0 auto;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

.disclaimer {
    color: red;
    font-size: 12px;
    padding-bottom: 20px;
}

.form-control {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 2px 2px 0 #ccc;

    input {
        display: block;
        max-width: 80%;
        float: right;
    }
    label {
        clear: both;
        display: block;
        &:after {
            display: block;
            clear: both;
            content: "";
        }
    }
}

.info {
    margin: 20px 0;
}

.border-bottom {
    border-bottom: 1px solid black;
}