/* You can add global styles to this file, and also import other style files */

@use "@picocss/pico/scss";

body {
    font-family: 'Ubuntu', sans-serif;
}


.red {
    &.color-full td {
        background: rgba(255,0,0, 0.5);
    }
    &.color-light td {
        background: rgba(255,0,0, 0.2);
    }
}

.green {
    &.color-full td {
        background: rgba(0,255,0, 0.5);
    }
}