/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Ubuntu', sans-serif;
}


@mixin clear() {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.one-half {
    float: left;
    width: 50%;
    &:last-child {
        @include clear();
    }
}

.row {    
    @include clear();
    &:nth-child(odd) {
        background: #eee;
    }
}


.red {
    &.color-full {
        background: rgba(255,0,0, 0.5);
    }
    &.color-light {
        background: rgba(255,0,0, 0.2);
    }
}

.green {
    &.color-full {
        background: rgba(0,255,0, 0.5);
    }
}